/*弹框*/
.dialog-mask{
   position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.dialog-wrapper{
    position: relative;
    background: #fff;
    width: 960px;
     top: 10%;
     margin: 0 auto;
}
.dialog-nav{
  height: 40px;
  background: #3e96f0;
}
.dialog-body{
    min-height: 300px;
    max-height:700px ;
}
.dialog-footer{
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}


.loadingWrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.loadingWrapper p{
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;   
}